body, html {
    background: #ebebeb;
    font-size: 13px;
    height: 100%;
}
a, a:active, a:hover  {
    text-decoration: none;
    color: #f0523f;
}
a:active, a:hover {
    outline: 0;
}
.ellipsis{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.btn{
    border-radius: 0 !important;
    padding:5px 10px;
}

img.avatar{
    width:50px;
}

/*Overrides*/
.form-control{
    border-radius: 0;
}

/*Specific Override*/
#top-nav.navbar-inverse{
    background: #242424;
    border-radius: 0;
    color:#fff;
    padding:20px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
}
    #top-nav a{
        color:#fff;
    }
    #top-nav .navbar-nav a{
        padding-left: 3px;
        padding-right: 3px;
        margin: 0 10px;
    }
    #top-nav .navbar-nav a:hover {
        border-bottom: 3px solid #f0523f;
    }
    #top-nav .navbar-nav>.active>a{
        background: none;
        border-bottom:3px solid #F20000;
    }
    #top-nav .btn{
        border-radius: 0;
    }
    #top-nav .avatar img{
        max-width: 40px;
        overflow: hidden;
        height: auto;
    }
    .username-ellipsis{
        width: 150px;
        display: inline-block;

        vertical-align: middle;
        text-decoration: none;
        color: #f0523f;
    }
    .user-navbar{
        font-size:14px;
    }

/*New styles*/
#sidebar{
    border-right: 1px solid #cdcdcd;
    border-bottom: none;
}
    #sidebar-list{
        margin: 0;
        padding: 10px 10px 10px 5px;
    }
    #sidebar-list li{
        list-style-type: none;
        margin: 0;
    }
    #sidebar-list li a {
        text-decoration: none;
        color: #f0523f;

        position: relative;
        width: 100%;
        display: block;
        padding: 10px 13px;
        color: #444;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        border-right: 3px solid #ebebeb;
    }
    #sidebar-list li a:hover{
        background: #f0523f;
        color: white;
    }
    #sidebar-list li.active a{
        border-right: 3px solid #f0523f;
    }
#sidebar-search{
    padding: 15px;
    border-bottom: 1px solid #cdcdcd;
}
    #sidebar-search input{
        font-family: sans-serif;
        font-size: 13px;
        border: 0px;
        line-height: normal;
        padding: 10px 15px;
    }
.header{
    padding: 19px 15px 18px 15px;
    border-bottom: 1px solid #cdcdcd;
}
    .header h1, .header h2 {
        font-size: 22px;
        margin: 0;
        float: left;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 800;
        line-height: 27px;
    }
.main-row{

}
    .main-row .col-md-3, .main-row .col-md-9{
        padding:0;
    }
.topics-list{
    padding: 15px 0 15px 15px;
}
.threads{
    position: relative;
}
    .threads .thread-summary {
        background: white;
    }
    .threads .thread-summary {
        position: relative;
        width: 100%;
        padding: 12px 20px 12px 10px;
        margin: 0 0 6px 0;
    }
    .threads .thread-summary img {
        float: left;
        height: auto;
        width: 7%;
        display: block;
        padding: 0 10px 0 0;
    }
    .threads .thread-summary h3 {
        margin: 0;
        padding: 0 0 3px 0;
        font-size: 16px;
        color: #444;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        line-height: normal;
    }
    .threads .thread-summary h3 a {
        color: #444;
    }
    .threads .thread-summary h3 a:hover {
        color: #f0523f;
    }
    .threads .thread-summary ul {
        margin: 0;
        padding: 0;
    }
    .threads .thread-summary ul li {
        display: inline;
        float: left;
        color: #959595;
        padding: 0 5px 0 0;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-style: italic;
    }
    .threads .thread-summary .comment-count {
        position: relative;
        min-width: 25px;
        float: right;
        background: #cdcdcd;
        padding: 5px;
        margin: 7px 0 0 0;
        text-align: center;
        color: white;
    }
    .threads .thread-summary .info {
        width: 73%;
        float:left;
    }
    .threads .thread-summary .post-info {
        width: 15%;
        float: right;
        display: block;
    }
    .threads .thread-summary .comment-count:hover {
        background: #f0523f;
    }
    .threads .thread-summary .solution {
        float: right;
        margin: 7px 6px 0 0;
        display: block;
        background: #ebebeb;
        height: 28px;
        padding: 5px 5px 0 5px;
        color: #444;
    }
    .threads .thread-summary .closed {
        background: #f0523f;
        padding: 5px 8px 2px 8px;
        text-align: center;
        color: white;
    }

.thread {
    padding: 15px;
    margin: 15px;
    background: white;
}
    .thread h1 {
        padding: 3px 0 15px 0;
        margin: 0 0 15px 0;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        border-bottom: 1px solid #cdcdcd;
        font-size: 1.4em;
    }
    .thread .user {
        border-top: 1px solid #cdcdcd;
        border-bottom: none;
        padding: 15px 0 0 0;
        margin: 15px 0 0 0;
    }
    .markdown p, .comment .markdown p {
        margin: 0;
        line-height: 1.7;
        padding: 0 0 14px 0;
    }
    .comments .comment {
        background: white;
        padding: 15px;
        margin: 15px;
    }

    .comments .comment ul, .comments .comment li {
        margin: 0;
        padding: 0;
    }
    .comments .comment li {
         margin: 0 0 0 15px;
         line-height: 1.5;
     }
    .comments .comment ul, .comments .comment li {
        margin: 0;
        padding: 0;
    }
.user {
    border-bottom: 1px solid #cdcdcd;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
}
    .user h6 {
        margin: 0;
        padding: 0 0 3px 0;
        font-size: 16px;
        color: #444;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        line-height: normal;
    }
    .user h6 a {
        color: #444;
    }
    .user img {
        height: auto;
        width: 50px;
        display: block;
        padding: 0 10px 0 0;
    }
    .user ul {
        margin: 0;
        padding: 0;
    }
    .user li {
        display: inline;
        float: left;
        color: #959595;
        padding: 0 5px 0 0;
        margin: 0 !important;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-style: italic;
    }
.reply-form {
    padding: 30px 15px;
}
    .form-row {
        display: block;
        float: left;
        margin-right: 2.5641%;
        width: 100%;
        margin: 0 0 15px 0;
    }
    .form-row label.field-title {
         display: block;
         margin: 0;
         padding: 0 0 10px 0;
         font-size: 16px;
         color: #444;
         font-family: 'Source Sans Pro', sans-serif;
         font-weight: 400;
     }
.admin-bar {
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
    border-top: 1px solid #cdcdcd;
}
    .forum .thread ul, .forum .thread li {
        margin: 0;
        padding: 0;
    }
    .admin-bar ul, .admin-bar li {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -moz-box-pack: start;
        box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        -o-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-pack: start;
        margin: 0 !important;
    }
    .forum .thread li {
         margin: 0 0 0 15px;
         line-height: 1.5;
     }
    .admin-bar .space {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        border: none;
    }
    .quote {
        float: right;
    }

.alert {
    border-radius: 0;
    margin-top: 10px;
}

.badge {
    padding: 2px 7px !important;
}

.badge-danger {
    background-color: #d03b3b;
}
.badge-success{
    background-color: #51a757;
}