.thread-started{
    margin-top: 40px;
    position: relative;
    -webkit-box-shadow:  0 8px 4px -4px #e2e2e2;
    -moz-box-shadow:  0 8px 4px -4px #e2e2e2;
    box-shadow: 0 8px 4px -4px #e2e2e2;
}
.circle {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: absolute;
    overflow: hidden;
    top: -37px;
    left: -27px;
    padding: 11px;
    z-index: 3;
}
.media-content{
    padding: 20px;
    margin-top: 50px;
    margin-left: 90px;
}
.thread .circle{
    background-color: #FFFFFF;
    border: 1px solid #dadada;
    z-index: 2;
}
.circle img{
    display: block;
    width: 100%;
    border-radius: 50%;
}
.thread{
    position: relative;
}
.media-inner{
    border: 1px solid #dadada;
    height: 100%;
}
.post-date{
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 35px;
}
.post-user{
    position: absolute;
    left: 105px;
    padding: 6px 10px 2px 10px;
    margin-top: 20px;
    background-color: #d03b3b;
    color: #F9F3F3;
    border-radius: 2px;
    width: 30%;
}
.thread-title{
    position: relative;
    top: -25px;
    line-height: 30px;
    display: inline-block;
    padding: 8px;
    background-color: #d03b3b;
    color: #fff;
    margin: 0;
    border-right: 0 solid white;
    border-radius: 2px;
}
.thread-wrapper{
    border-top: 3px solid #d03b3b;
    margin-top: 40px;
    margin-bottom: 30px;
}
.su_link{
    font-weight: bold;
    text-decoration: underline;
    color: #D03B3B;
}

.post-delete {
    position: absolute;
    top: -15px;
    right: -25px;
}

a {
    color: #d03b3b;
}
a:hover {
    color: #F25454;
    text-decoration: none;
}

.sidebar {
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
}

.sidebar > li > a {
    padding: 5px 10px !important;
}
.sidebar > li > a:hover {
    background-color: #d03b3b;
    color: #ffffff;
}
.sidebar > .active > a {
    border-left: 3px solid #d03b3b;
}
.sidebar-search {
    padding: 15px;
}

.sidebar > .sidebar-all {
    border-top: 1px solid #dddddd;
}

.panel-body {
    padding: 5px 15px;
}
.badge-danger {
    background-color: #d03b3b;
    /*margin-top: 6px;*/
    /*color: #d03b3b;*/
}
.badge-success{
    background-color: #51a757;
}